/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.

 *= require 'reset'
 *= require_self
 *= require_tree .
*/



html {
	font-family: Verdana;
}
.site_container {
	background-color: rgb(246, 246, 239);
	width: 85%;
	margin: 0 auto;
}

.site_header {

	height: 24px;
	background-color: #ff6600;
	font-size: 10pt;
}

.site_header h1 {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}
.site_header a:visited {
	color: black;
	text-decoration: none;
}
.header_content {
	padding-top: 3px;
}
.login_info {
	display: inline-block;
	float: right;
	padding-right: 10px;
}
.article_content {
	font-size: 10pt;
	background-color: rgb(246, 246, 239);
	margin: 0 auto;
}
a:link {
	color: #000000;
	text-decoration: none;
}
a:visited {
	color: #828282;
	text-decoration: none;
}
.article_subcontent {
	margin-top: 2px;
	padding-bottom: 5px;
	font-size: 7pt;
	color: #828282;
}
ul {
	list-style: none;
}

.comments_container {
	margin: 10px 20px;
	padding-bottom: 20px;
}
.comment_head {
	font-size: 8pt;
	color: #828282;
}
.comments {
	margin-top: 50px;
}
.comment {
	margin-top: 20px;
	width: 100%;
}
.comment_content {
	padding-left: 10px;
	margin: 5px 5px;
	width: 100%;
}
.arrow {
	width: 10px;
	height: 10px;
	border: 0px;
	margin: 3px 2px 6px;
	background: url('grayarrow.gif') no-repeat;
	background-size: 10px;
	display: inline-block;
}
.points {
	font-size: 8pt;
	color: #828282;
}
.user_info {
	width: 96%;
	margin: 10px auto;
	font-family: Verdana;
font-size: 10pt;
color: #828282;
padding-bottom: 20px;
line-height: 25px;
}

